body {
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/bg.jpg);
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

header img {
  width: 150px;
}

#results {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

#resultsparagraphs {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 1em;
}

section {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 30%;
  margin: 1.2em;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

canvas {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

#rateus {
  background-color: transparent;
  width: 150px;
  height: 40px;
  font-weight: bold;
  border: 2px solid white;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  position: absolute;
  left: 49%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 40px;
  margin-top: 6em;
}
