@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "inter", sans-serif;
  font-size: 14px;
}

header > img {
  width: 150px;
  margin-left: 11.4em;
  margin-top: 32px;
  margin-bottom: 40px;
}

h1 {
  margin: 50px 0;
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 60px;
}
#bold {
  font-weight: bold;
}
#bottoni {
  text-align: center;
}

button {
  width: 30em;
  border-radius: 42px;
  padding: 30px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.247);
  color: white;
  border-color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #d20094;
  transition: 0.7s;
}

h4 {
  text-align: center;
  margin-top: 6rem;
}

/* TIMER */

#timer {
  font-size: 2rem;
  text-align: center;
  margin-block: -5px;
}

#time_wrapper {
  border: 15px solid rgba(255, 255, 255, 0.162);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-left: 110em;
}
#second_time_wrapper {
  border: 15px solid green;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-left: 110em;
  position: absolute;
}
p {
  text-align: center;
}
div p:first-child {
  padding-top: 1rem;
}

/* Footer */
footer {
  font-family: "inter", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: 4em;
}
footer strong {
  color: #d20094;
  font-weight: bold;
}
#nextButton {
  display: block;
  color: rgb(30, 42, 42);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  background-color: rgb(0, 255, 255);
}

#nextButton:hover {
  background-color: #45a049;
}
